@media (min-width: 576px) { 
    .modal-footer {
        padding-right: 2rem!important;
    }
}


@media (min-width: 768px) { 

    header {
        height: 100%;
        background-image: url('../img/hero/fondo-desktop.jpg');
        background-size: cover;
        background-position: start;
    }
    

    .bg--contact {
        background-image: url("../img/bg-contact.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero__text {
        max-width: 50%;
    }


    .p--section--contact {
        padding-top: 4rem;
        padding-bottom: 6rem;
    }

    .modal-footer {
        padding-right: 10px!important;
    }
}


@media (min-width: 992px) { 
    

    .p--section {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .navbar-collapse {
        background-color: transparent;
        padding-left: 0;
    }

    .title--third {
        font-size: 1.875rem;
        font-weight: 700;
    }

    .visa-icon--blue {
        font-size: 3rem;
        margin-right: 1rem;
    }
 }


@media (min-width: 1200px) { 

 }


@media (min-width: 1400px) { 
    header {
        height: 100%;
        background-position: top;
        background-size: cover;
    }

    .hero {
        height: 100vh;
    }

    .logo-ayg--dark {
        max-height: 100px;
    }

    .btn--whatsapp {
        right: 34px;
        bottom: 34px;
    }

    .goTop {
        right: 34px;
        bottom: 94px;
    }
 }
