@media (min-width: 576px) { 

}


@media (min-width: 768px) { 

    header {
        height: 100%;
        background-image: url('../img/hero/fondo-desktop.jpg');
        background-size: cover;
        background-position: start;
    }
    

    .bg--contact {
        background-image: url("../img/bg-contact.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero__text {
        max-width: 50%;
    }
}


@media (min-width: 992px) { 
    

    .p--section {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .goTop {
        right: 34px;
        bottom: 34px;
    }

    .navbar-collapse {
        background-color: transparent;
        padding-left: 0;
    }
 }


@media (min-width: 1200px) { 

 }


@media (min-width: 1400px) { 
    header {
        height: 100%;
        background-position: top;
        background-size: cover;
    }

    .hero {
        height: 100vh;
    }
 }
